h1 {
  margin: 1vmin;
  margin-bottom: 0.5vmin;
}

h4 {
  margin: 1.5vmin;
}

button:hover {
  color: rgb(235, 233, 218);
}

.App {
  text-align: center;
}

.App-header {
  background-color: rgb(11, 138, 155);
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: black;
}

.App-logo {
  position: absolute;
  height: 6vmin;
  top: 2vmin;
  left:2vmin;
  margin: 1vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game-table {
  margin-top: 1vmin;
}

.game-controls{
  flex-direction: row;
  display: inline;
}

.game-winner {
  margin: auto auto;
  width: 60%;
  color: rgb(11, 138, 155);
  border: solid 1px rgb(11, 138, 155);
  border-radius: 30px;
}

.hand{
  display: inline; 
  justify-content: center;
  width: 80vmin;
}

.hand-card{
  max-width: 12vmin; 
  margin: 2vmin;
}

.App-button {
  border: none;
  background-color: rgb(11, 138, 155);
  margin: 1vmin;
  margin-top: 0.5vmin;
  border-radius: 30px;
  height: calc(10px + 4vmin);
  width: calc(80px + 10vmin);
  font-size: medium;
  font-weight: bold;
}

/* Component Collection */
.cc-button {
  border: none;
  border-radius: 30px;
  background-color: rgb(11, 138, 155);
  height: 6vmin;
  width: calc(15pc + 3vmin);
  padding: 1vmin 2vmin;
  font-size: calc(8px + 1vmin);
  font-weight: bold;
  
}

.cc-button-selected {
  color: rgb(206, 10, 157);
  background-color: black;
  font-weight: bold;
  
}

.cc-button-selected:hover {
  color: rgb(206, 10, 157);
}

