/* General */
h1 {
  margin: 1vmin;
  margin-bottom: 0.5vmin;
}

h4 {
  margin: auto 0;
}

button:hover {
  color: rgb(235, 233, 218);
}

.App {
  text-align: center;
}

.App-header {
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.App-logo {
  position: absolute;
  left: 0;
  top: 0;
  height: 24vmin;
  pointer-events: none;
}

/* Cards */
.game-table {
  position: relative;
  margin-top: 1vmin;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 1%;
  color: rgb(11, 138, 155);
}

.game-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;  
}

.game-hand {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;  
}

.game-hand-details {
  display: flex;
  flex-direction: column;
  margin: 0 0;
  justify-content: center;  
}

.game-controls{
  flex-direction: row;
  display: inline;
}

.game-winner {
  margin: auto 0;
}

.hand-card{
  max-width: 12vmin; 
  margin: 2vmin;
}

/* Game Buttons */
.App-button {
  border: none;
  background-color: rgb(11, 138, 155);
  margin: 1vmin;
  margin-top: 0.5vmin;
  border-radius: 20px;
  height: calc(10px + 4vmin);
  width: calc(80px + 10vmin);
  font-size: medium;
  font-weight: bold;
}

/* Game Switch */
.cc-button {
  color: gainsboro;
  background-color: black;
  border: none;
  border-radius: 20px;
  height: 6vmin;
  width: calc(15pc + 3vmin);
  padding: 1vmin 2vmin;
  font-size: calc(8px + 1vmin);
  font-weight: bold;
  
}

.cc-button-selected {
  background-color: rgb(155, 11, 78);  
  font-weight: bold;
  
}
